[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "lib/rave"]
	path = lib/rave
	url = https://github.com/PufferFinance/rave
[submodule "lib/automata-dcap-v3-attestation"]
	path = lib/automata-dcap-v3-attestation
	url = https://github.com/amiller/automata-dcap-v3-attestation
